<div class="form-group">
  <label for="Title">Nome</label>
  <input required type="text" class="form-control" id="Name" name="name" value="<%= user.name  %>">
</div>
<div class="form-group">
  <label for="image">E-mail</label>
  <input required type="text" class="form-control" id="Email" name="email" value="<%= user.email  %>">
</div>
<div class="form-group">
  <label class="form-check-label" for="role">Função</label>
  <select class="form-control" id="role" name="role" value="<%= user.role  %>">
    <option selected disabled hidden>
      <% if (user.role === "customer") { %>
        Cliente
        <% } %>
        <% if (user.role === "staff") { %>
          Staff
          <% } %>
          <% if (user.role === "Admin") { %>
            Admin
            <% } %>
    </option>
    <option value="staff">Staff</option>
    <option value="customer">Cliente</option>
  </select>
</div>
<div class="form-group">
  <label class="form-check-label" for="points">Pontos</label>
  <input required type="text" class="form-control" id="points" name="points" value="<%= user.points  %>">
</div>
<div class="text-center">
  <button type="submit" class="btn btn-main">Atualizar</button>
</div>